.controller.ds4 {
  background-image: url("https://i.imgur.com/oTSEuW6.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

/* Ocultar TODO lo del mando original */
.controller.ds4 * {
  opacity: 0 !important;
}
